.popup__submit-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  max-width: 358px;
  width: 100%;
  min-height: 50px;
  margin: 0 auto;
  border-radius: 2px;
  border: 1px solid #000000;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transition: opacity 0.3s ease;
  color: #ffffff;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.22;
}

.popup__submit-button:hover {
  opacity: 0.8;
  cursor: pointer;
}

@media screen and (max-width: 525px) {
  .popup__submit-button {
    max-width: 238px;
    font-size: 14px;
    line-height: 1.2;
  }
}
